@import './global.css';

.product-items {
  padding: 0 0;
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: auto;
  gap: 1rem;
  align-items: start;
  width: var(--content-width);
}

.product {
  top: 0;
  margin: 0;
  position: relative;
  background: var(--clr-neutral-200);
}

.product-content {
  background: var(--clr-neutral-300);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.product__img {
  background: var(--clr-neutral-200);
  margin: 0 auto;
  filter: brightness(.96);
}

.product__img img {
  height: 100%;
}

.product__info {
  background: var(--clr-neutral-100);
  padding: 1rem;
}

.product__info--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__info--top a {
  text-decoration: none;
}

.product__info--bot {
  padding-top: 0.6rem;
}

.product__price {
  padding-right: 0.6rem;
  display: inline-block;
}

.product__price:first-of-type{
  text-decoration: line-through;
  color: var(--clr-accent-400);
}

.product__btns {
  display: flex;
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
}

.product__btns--buy {
  border: none;
  padding: .3rem 1rem;
  cursor: pointer;
  margin: auto;
  transition: var(--trans-duration);
  background: var(--clr-neutral-100);
  opacity: 0;
}

.product__btns--buy a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
}

.product:hover .product__btns--buy{
  background: var(--clr-primary-300);
  opacity: 100;
}

.product:hover .product__btns--buy a{
  color: var(--clr-neutral-100);
}

.product:hover .product__img img{
  scale: 105%;
}


.product__btns--buy:hover{
  background: var(--clr-primary-400) !important;
}

/* .product:hover .off-info{
  background: var(--clr-neutral-300);
} */

.off-info {
  background: var(--clr-accent-400);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: .75rem .5rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.off-info h4{
  color: white;
}

@media only screen and (max-width: 800px) {
  .product-items{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .product-items{
    grid-template-columns: repeat(2, 1fr);
  }
}
