/* IMPORT NECESSARY FONTS AND SVGS */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import './fonts.css';

/* INTIIALIZE VARIABLES */
:root {
  --clr-accent-200: rgba(211, 200, 150, 1);
  --clr-accent-300: rgba(211, 186, 129, 1);
  --clr-accent-400: rgba(231, 188, 96, 1);
  --clr-neutral-100: rgba(255, 255, 255, 1);
  --clr-neutral-200: #F3F4F7;
  --clr-neutral-300: #767676;
  --clr-neutral-400: #555555;
  --clr-neutral-500: #333333;
  --clr-neutral-600: #222222;
  --clr-primary-100: rgba(185, 188, 135, 1);
  --clr-primary-200: rgba(141, 149, 91, 1);
  --clr-primary-300: rgba(94, 104, 64, 1);
  --clr-primary-400: rgba(46, 54, 29, 1);
  --ff-body: "Graphik Web", "Helvetica Neue", sans-serif;
  --ff-heading: "Graphik Web", "Helvetica Neue", sans-serif;
  --fs-200: 0.688rem; /* 11px */
  --fs-300: 0.813rem; /* 13px */
  --fs-400: 1.125rem; /* 18px */
  --fs-500: 1.313rem; /* 21px */
  --fs-600: 1.875rem; /* 30px */
  --fs-700: 2.250rem; /* 36px */
  --fs-800: 3.750rem; /* 60px */
  --fw-thin: 100;
  --fw-light: 200;
  --fw-regular: 300;
  --fw-medium: 400;
  --fw-bold: 500;
  --fw-black: 600;
  --trans-duration: 0.3s;
  --content-width: 800px;
}

/* RESET CSS ELEMENTS */
*,
::before,
::after {
  box-sizing: border-box;
}


* {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* GENERAL STYLE */
h1, h2 {
  font: var(--fw-bold) var(--fs-600) var(--ff-heading);
}

p,
li a {
  font: var(--fw-regular) var(--fs-200) var(--ff-body);
  line-height: 1.25rem;
  text-align: justify;
}

.main-header{
  font-size: var(--fs-700);
  color: var(--clr-neutral-600);
  text-align: center;
  margin: 15px 0;
}

.txt-block{
  width: var(--content-width);
  margin: 15px auto 25px auto;
}

.txt-block h1{
  font-size: var(--fs-400);
  color: var(--clr-neutral-600);
}

.txt-block h2{
  font: var(--fw-medium) var(--fs-300) var(--ff-heading);
  color: var(--clr-neutral-600);
}

.txt-block p{
  font-size: var(--fs-300);
  color: var(--clr-neutral-600);
  margin-bottom: 10px;
}

.pic-block{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.pic-block img{
  object-fit: cover;
}

/* HEADER STYLE */
.header {
  background: var(--clr-primary-400);
  padding: 15px 0;
  width: 100%;
}

header, nav {
  flex-direction: row;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: var(--content-width);
  margin: auto;
}

.header__logo {
  display: flex;
}

.header__logo img {
  margin: 0 auto 5px auto;
  width: 25px;
}

.header__logo * {
  color: var(--clr-neutral-100);
  line-height: 1rem;
  text-align: center;
}

.logo-container h1{
  font-size: var(--fs-400);
}

.header__socmed-container {
  position: absolute;
  top: auto;
  right: 0;
}

.header__socmed-icon.fa-amazon {
  margin-left: -3px;
}

.header__socmed-icon {
  color: var(--clr-neutral-100);
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

/* NAVBAR STYLE */
.navbar {
  border-bottom: 1px solid var(--clr-neutral-300);
  width: 100%;
}

.nav__navbar-items {
  display: flex;
  text-align: center;
}

.nav__navbar-item {
  color: var(--clr-neutral-600);
  display: inline-flex;
  padding: 15px 1.5vw;
}

.nav__navbar-item a{
  font: var(--fw-regular) var(--fs-200) var(--ff-body);
}

.nav__navbar-item:hover {
  color: var(--clr-neutral-600);
}

.nav__shop-icon {
  position: absolute;
  color: var(--clr-neutral-400);
  right: 0;
}

.nav__shop-icon:hover {
  color: var(--clr-neutral-600);
  transition: var(--trans-duration);
}

/* FOOTER STYLE */
.footer {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  margin-top: 30px;
}

footer{
  display: flex;
  gap: calc(10vw - 28px);
  margin: auto;
  padding: 20px 0 18px;
  width: var(--content-width);
}

.footer__col-1,
.footer__col-2,
.footer__col-3,
.footer__col-4 {
  height: 112px;
  width: auto;
}

.footer__logo{
  margin: 28px 0 0;
}

.footer__logo * {
  margin: 0;
  text-align: left;
}

.footer__logo img {
  width: 25px;
  padding-bottom: 5px;
}

.footer__category {
  font: var(--fw-bold) var(--fs-300) var(--ff-body);
  line-height: 16.5px;
}

.footer__link {
  color: var(--clr-neutral-200);
  display: flex;
  height: 20px;
}

.footer__shop {
  border-bottom: 1px solid var(--clr-neutral-300);
  color: var(--clr-neutral-300);
  margin: auto;
  padding-bottom: 5px;
  width: var(--content-width);
}

/* #footer-shop a {
  color: var(--clr-primary-100);
} */

.footer__legal {
  display: flex;
  margin: auto;
  padding: 10px 0 15px;
  width: var(--content-width);
}

.footer__legal p {
  line-height: 10px;
}

.footer__copyright {
  flex: 2;
}

.footer__copyright p {
  color: var(--clr-neutral-300);
}

.footer__nav {
  display: inline-flex;
  padding-top: 5px;
}

.footer__nav-item:after {
  content: "|";
  padding: 0 10px;
}

.footer__nav-item:last-child:after {
  content: "";
}

.footer__locale p {
  text-align: right;
}

.slash-animation {
  transform: translateX(-4.5px);
}

.slash-animation span {
  opacity: 0;
}

.slash-animation a:hover {
  display: inline-block;
  transform: translateX(4.5px);
  transition: var(--trans-duration);
}

.slash-animation a:hover span {
  opacity: 100;
}

.footer ul li:hover,
.footer__nav-item{
  color: var(--clr-neutral-100);
}

@media only screen and (max-width: 500px) {
  .header__logo {
    margin: auto;
    padding-left: 2px;
  }

  .header__socmed-container,
  .nav__shop-icon {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footer__col-1 {
    display: none;
  }

  footer {
    gap: 35px;
  }
}

@media only screen and (max-width: 900px) {
  :root{
    --content-width: 90%;
  }
}

h1{
  font: var(--fw-regular) var(--fs-800) var(--ff-body);
  color: var(--clr-neutral-600);
  text-transform: uppercase;
}
h2{
  font: var(--fw-regular) var(--fs-700) var(--ff-body);
  color: var(--clr-neutral-600);
}
h3{
  font: var(--fw-regular) var(--fs-600) var(--ff-body);
  color: var(--clr-neutral-600);
}
h4{
  font: var(--fw-regular) var(--fs-500) var(--ff-body);
  color: var(--clr-neutral-600);
}
h5{
  font: var(--fw-regular) var(--fs-400) var(--ff-body);
  color: var(--clr-neutral-600);
}
h6{
  font: var(--fw-regular) var(--fs-300) var(--ff-body);
  color: var(--clr-neutral-600);
}
p{
  font: var(--fw-regular) var(--fs-200) var(--ff-body);
  color: var(--clr-neutral-600);
}
a{
  font: var(--fw-regular) var(--fs-200) var(--ff-body);
  color: var(--clr-neutral-600);
}
/*
222222
333333
767676

h1: 30px regular
h2: 24px medium / 17px regular / 21px regular
h3: 14px regular / 18px / 36 px

p: 13px regular / 21px regular
a: 13px underlined
b: 13px bold
strong: 60px black
*/

